*{padding: 0;margin: 0;}
#main{-webkit-column-width:202px;}
.box{padding: 15px 0 0 15px;}
.pis{padding: 10px;border: 1px solid #CCCCCC;border-radius: 8px;box-shadow: 0 0 5px #CCCCCC;width: 165px;}
img{width: 165px;display: block;height: auto;}
