@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?ra7n1k');
	src: url('fonts/icomoon.eot?ra7n1k#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?ra7n1k') format('truetype'), url('fonts/icomoon.woff?ra7n1k') format('woff'), url('fonts/icomoon.svg?ra7n1k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
	content: "\e900";
}

@font-face {
	font-family: 'icomoon';
	src: url('fonts1/icomoon.eot?k9oeqy');
	src: url('fonts1/icomoon.eot?k9oeqy#iefix') format('embedded-opentype'), url('fonts1/icomoon.ttf?k9oeqy') format('truetype'), url('fonts1/icomoon.woff?k9oeqy') format('woff'), url('fonts1/icomoon.svg?k9oeqy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e986";
}


/*图标字体*/

header {
	width: 100%;
	height: 40px;
	background: #333;
	position: relative;
	z-index: 3;
}

.header {
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
}

.header li {
	float: left;
}

.header li a {
	color: #b0b0b0;
	font-size: 12px;
	padding: 0 7px;
	border-right: 1px solid #424242;
}

.header_left {
	float: left;
}

.header_right {
	float: right;
}

.header_left li:last-child a {
	border-right: none;
}

.header_right li:nth-child(3) a {
	border-right: none;
}

.header li a:hover {
	color: #fff;
}

.shopping {
	position: relative;
	float: right;
	margin-left: 10px;
	padding: 0px 10px;
	width: 100px;
	height: 40px;
	background: #424242;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	cursor: pointer;
}

.shopping i {
	color: #B0B0B0;
}

.shopping:hover {
	background: #FFFFFF;
}

.shopping:hover span {
	color: #ff6700;
}

.shopping:hover i {
	color: #ff6700;
}

.icon-shopping-cart {
	font-size: 20px;
	line-height: 40px;
	margin-right: 5px;
}

.top_num {
	font-size: 14px;
}

.shopping>span {
	vertical-align: top;
}

.shoppingCar {
	position: absolute;
	right: -1px;
	top: 39px;
	height: 0px;
	width: 320px;
	background: #FFFFFF;
	border: 1px solid #424242;
	border-top: none;
	box-sizing: border-box;
	transition: all 0.3s;
	opacity: 1;
	font-size: 20px;
	z-index: 2;
}

.shoppingCar p {
	display: none;
}

.shopping:hover .shoppingCar {
	transition: all 0.3s;
	height: 100px;
	opacity: 1;
	line-height: 100px;
}

.shopping:hover .shoppingCar p {
	display: block;
}

nav {
	width: 1226px;
	height: 55px;
	margin: 22px auto;
	position: relative;
}

.logo {
	width: 55px;
	height: 55px;
}

.logo img {
	width: 55px;
	height: 55px;
}

.logo a {
	display: inline-block;
	width: 55px;
	height: 55px;
}

nav>div {
	float: left;
}

.gif1 {
	margin-left: 14px;
	width: 165px;
	height: 55px;
}

.gif1 a {
	display: inline-block;
	width: 165px;
	height: 55px;
}

.gif1 img {
	margin-top: -22.5px;
}

.nav_name ul li {
	float: left;
	padding: 10px;
	line-height: 35px;
}

#nav_input {
	height: 55px;
	padding: 0px 10px;
	width: 245px;
	border: 1px solid #e0e0e0;
	position: absolute;
	right: 50px;
	font-size: 16px;
	outline: none;
	box-sizing: border-box;
	transition: all 0.2s;
}

.nav_submit {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	height: 55px;
	width: 52px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background: #FFFFFF;
	font-size: 18px;
	color: #616161;
	line-height: 55px;
	text-align: center;
	box-sizing: border-box;
	z-index: 2;
	transition: border-color 0.2s, background 0.5s;
}


/*.nav_inputdiv:hover #nav_input{
border: 1px solid #B0B0B0;
}
.nav_inputdiv:hover .nav_submit{
	border: 1px solid #B0B0B0;
}*/

.nav_submit:hover {
	color: #FFFFFF;
	border-color: #FF6700!important;
	background: #FF6700;
}

.nav_inputdiv>a {
	padding: 2px 5px;
	display: inline-block;
	position: absolute;
	font-size: 12px;
	background: #eee;
}

.nav_inputdiv>a:hover {
	background: #FF6700;
	color: #FFFFFF;
}

.input_food1 {
	top: 18px;
	right: 145px;
}

.input_food2 {
	top: 18px;
	right: 60px;
}

.tools {
	position: absolute;
	top: 55px;
	right: 51px;
	width: 242px;
	height: 300px;
	z-index: 3;
	border: 1px solid #FF6700;
	background: #FFFFFF;
	border-top: none;
	font-size: 12px;
	display: none;
}

.tools li {
	padding: 5px 15px;
	height: 20px;
	cursor: pointer;
}

.input_num {
	float: right;
	color: #B0B0B0;
}

.nav_name li {
	cursor: pointer;
}

.nav_name li:hover {
	color: #FF6700;
}

.banner {
	width: 1226px;
	margin: 0 auto;
	position: relative;
}

.banner_left {
	width: 234px;
	height: 460px;
	background: rgba(0, 0, 0, 0.6);
	float: left;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}

.banner_left_ul>li {
	color: #FFFFFF;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	padding-left: 30px;
}

.banner_left_ul>li:hover {
	background: #FF6700;
}

.banner_left_ul:after,
.banner_left_ul:before {
	content: '';
	display: block;
	width: 234px;
	height: 20px;
}

.banner_left_ul>li:after {
	content: '>';
	height: 5px;
	width: 5px;
	float: right;
	margin-right: 30px;
	font-weight: bold;
}

.left_list {
	position: absolute;
	top: 0;
	left: 234px;
	width: 850px;
	height: 460px;
	background: #FFFFFF;
	z-index: 10;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-left: none;
	display: none;
	box-shadow: 1px 8px 5px #ccc;
}

.left_list ul {
	width: 280px;
	float: left;
	height: 460px;
}

.left_list li {
	width: 280px;
	height: 77px;
	box-sizing: border-box;
	padding: 18px 0px 0px 18px;
}

.left_list li img {
	width: 40px;
	height: 40px;
}

.left_list li span {
	display: inline-block;
	width: 120px;
	height: 40px;
	color: #000000;
	overflow: hidden;
	margin-left: 10px;
	line-height: 40px;
}

.left_list li i {
	text-align: center;
	width: 60px;
	line-height: 20px;
	height: 20px;
	display: inline-block;
	color: #FF6700;
	border: 1px solid #FF6700;
	vertical-align: top;
	margin-top: 10px;
}

.banner_left_ul>li:hover .left_list {
	display: block;
}

.banner_left .ul1 {
	width: 300px;
}

.banner_left .ul2 {
	width: 600px;
}

.banner_out {
	position: absolute;
	top: 0;
	left: 0;
	width: 1226px;
	height: 460px;
}

.banner_out img {
	width: 1226px;
	height: 460px;
}

.banner_img {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	transition: all 1s;
}

.banner_out>span {
	width: 40px;
	height: 70px;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 40px;
	margin: auto;
	z-index: 1;
	color: #a4a4a4;
	cursor: pointer;
	line-height: 65px;
	text-align: center;
}

.pre {
	left: 234px;
}

.next {
	right: 0;
}

.pre:hover,
.next:hover {
	background: rgba(0, 0, 0, 0.5);
}

.nohide {
	opacity: 1;
}

.banner_btn {
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.banner_btn span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid orange;
	border-radius: 50%;
	cursor: pointer;
}

.btn_o {
	background: #FF6700;
}

.lift_seat {
	width: 1226px;
	margin: 0 auto;
	margin-top: 15px;
}

.lift_size {
	width: 234px;
	box-sizing: border-box;
	height: 170px;
	margin-right: 2px;
}

.lift_seat>div {
	float: left;
	cursor: pointer;
}

.lift_img {
	width: 316px;
	height: 170px;
	margin-left: 14px;
	transition: all 1s;
}
.lift_img:hover{
	box-shadow:0px 20px 5px #CCCCCC ;
	border-radius: 10px;
}
.lift_img img {
	width: 316px;
	height: 170px;
}


.lift_list{
	float: left;
	width: 76px;
	height: 82px;
	background: #5F5750;
	text-align: center;
	font-size: 12px;
	transition: all 0.2s;
	position: relative;
}
.lift_list a{
	display: inline-block;
	width: 70px;
	height: 46px;
	padding-top:18px;
	color: rgba(255,255,255,0.7);
}
.lift_list i{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	line-height: 30px;
}
.lift_size ul{
	width: 234px;
	height: 170px;
	background: #5F5750;
	padding: 3px;
	box-sizing: border-box;
}
.lift_list:hover a{
	color: #FFFFFF;
}
.lift_list:hover i{
	color: #FFFFFF;
}
.link:after{
	content: '';
	position: absolute;
	top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  background: #665e57;
}
.link:before{
	content: '';
	position: absolute;
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
  background: #665e57;
}
.link1:after{
	content: '';
	position: absolute;
	top: 6px;
  right: 0;
  width: 1px;
  height: 70px;
  background: #665e57;
}