.min_win_header {
	display: none;
	width: 100%;
	height: 31px;
	position: relative;
}
.btn_drag{
	background: #ddd!important;
}
.overell {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.min_win_header h2 {
	width: 100%;
	height: 31px;
	text-align: center;
	z-index: 1;
	color: #FFFFFF;
	background: #ff0077;
	line-height: 31px;
	font-size: 18px;
	font-weight: normal;
}

.setup_btn {
	display: block;
	position: absolute;
	right: 12px;
	top: 6px;
	color: #fff;
	width: 20px;
	height: 20px;
	z-index: 900;
	cursor: pointer;
	font-size: 18px;
}

.min_win_header_list {
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	width: 100%;
	z-index: 901;
	background: #f2f2f2;
}

.min_win_header_list>li {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 31px;
	line-height: 31px;
	cursor: pointer;
}

.min_win_header_list>li:hover {
	background: #FF0077;
	border-radius: 10px;
	color: #fff;
}

header {
	width: 100%;
	height: 31px;
	background: #f2f2f2;
	border-bottom: 1px solid #DDDDDD;
}

.header {
	width: 100%;
	max-width: 1200px;
	height: 31px;
	margin: 0 auto;
	z-index: 1;
}

.header_right .header_right_ul> li:nth-of-type(1) {
	padding-right: 15px;
}

.header_right .header_right_ul> li {
	float: left;
}

.header_right .header_right_ul> li> a {
	color: #666;
	border-left: 1px solid #ddd;
	padding: 0 15px 0 20px;
}

.header_right_ul> li:nth-of-type(1) a {
	padding: 0 0 0 5px;
	border-left: none;
	color: #666;
}

.order:before {
	content: '\e056';
	vertical-align: text-bottom;
	padding-right: 5px;
}

.shopcar:before {
	content: '\e116';
	vertical-align: text-bottom;
	color: #ff0077;
	padding-right: 8px;
	font-size: 14px;
}

.service:after {
	content: url("../img/down.jpg");
	display: inline-block;
	width: 7px;
	height: 4px;
	vertical-align: text-top;
	padding-left: 4px;
}

.myshop:before {
	content: url("../img/myshop.jpg");
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: top;
	margin-right: 3px;
}

.myshop:after {
	content: url("../img/down.jpg");
	display: inline-block;
	width: 7px;
	height: 4px;
	vertical-align: text-top;
	padding-left: 4px;
}

.shopcar_li {
	position: relative;
}

.shopcar_li:hover .shopcar_list {
	display: block;
}

.shopcar_list {
	position: absolute;
	width: 200px;
	height: 54px;
	z-index: 2;
	background: #eee;
	top: 31px;
	left: -81px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	border: 1px solid #ddd;
	border-top: none;
	color: #999;
	line-height: 54px;
	text-align: center;
	display: none;
}

.service_li,
.myshop_li {
	position: relative;
}

.service_li:hover .service_list,
.myshop_li:hover .service_list,
.service_li:hover .myshop_list,
.myshop_li:hover .myshop_list {
	display: block;
}

.service_list,
.myshop_list {
	position: absolute;
	width: 100px;
	z-index: 2;
	background: #eee;
	top: 31px;
	left: 0;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	border: 1px solid #ddd;
	border-top: none;
	display: none;
}

.service_list li,
.myshop_list li {
	color: #999;
	text-align: center;
	width: 100px;
	height: 30px;
	line-height: 30px;
}

.service_list li:hover,
.myshop_list li:hover {
	background: #e4e4e4;
}

.header_right .header_right_ul .myshop_li a {
	padding-right: 4px;
}

.myshop_list {
	width: 105px;
}

.myshop_list li {
	width: 105px;
}


/*头部结束*/

.store_brandname {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}

.store_brandname_left {
	height: 70px;
}

.evaluation>a {
	display: block;
	width: 100%;
	height: 100%;
}

.brand_name>p {
	font-size: 14px;
	float: left;
}

.brand_name>.brand_img {
	float: left;
	margin-left: 5px;
}

.brand_img>img {
	width: 26.5px;
	height: 16px;
}

.starstwo {
	display: block;
}

.starstwo i {
	font-size: 18px;
	font-style: normal;
}

.text-icon.icon-star:after {
	color: #FF0077;
	content: '★';
}

.brand_score>li {
	float: left;
	font-size: 12px;
	color: #666;
	margin-right: 8px;
}

.brand_score>li>em {
	color: #ef2f23;
	margin-left: 3px;
}

.brand_btn {
	float: left;
	height: 46px;
}

.brand_collcection {
	cursor: pointer;
	background-image: url(../img/sprit3.png);
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	padding: 0 12px 0 22px;
	background-position: 4px -48px;
	font-size: 12px;
	color: #666;
	line-height: 20px;
	margin-right: 10px;
	background-color: #fff;
}

.brand_collcection2 {
	cursor: pointer;
	border: 1px solid #ddd;
	line-height: 20px;
	background: url(../img/brandbtn2.gif) no-repeat 50%;
	background-size: 42px;
}

.search {
	width: 410px;
	float: left;
	height: 34px;
	border: 1px solid #ff0077;
	font-size: 12px;
	color: #999;
	outline: none;
}

.search_btn {
	outline: none;
	width: 101px;
	float: left;
	height: 36px;
	border: 1px solid #ff0077;
	background: #ff0077;
	color: #fff;
	font-size: 16px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	cursor: pointer;
}

.search_form {
	margin-top: 15px;
}


/*详情页中心区开始*/

.detail_content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
}

.detail_content_left {
	width: 400px;
}

.detail_bigimg {
	width: 400px;
	height: 600px;
}

.detail_bigimg>img {
	width: 400px;
}

.detail_smallimg {
	width: 340px;
	margin-top: 10px;
	height: 59px;
	padding: 0 30px;
}

.detail_smallimg_ul img {
	height: 60px;
	width: 60px;
}

.detail_smallimg_ul>li {
	height: 60px;
	width: 60px;
	opacity: 0.6;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}

.detail_smallimg_text {
	display: none;
	width: 100%;
	margin-top: 10px;
}

.detail_smallimg_text_ul {
	max-width: 320px;
	margin: 0 auto;
}

.detail_smallimg_text_ul>li {
	float: left;
	border: 2px solid #ccc;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 3px 5px;
	cursor: pointer;
	color: #666666;
	background: #fff;
	position: relative;
}

.detail_smallimg_text_ul>li:hover {
	background: #FF94C6;
	color: #fff;
}

.op_on {
	opacity: 1!important;
}

.detail_smallimg_ul>li:last-child {
	margin-right: 0;
}

.detail_content_right {
	margin-left: 20px;
}

.detail_content_right>h1 {
	font-size: 25px;
}

.tuan_logo {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	background: #ff3e59;
}

.tuan {
	display: inline-block;
	padding: 0px 30px;
	vertical-align: text-top;
	height: 50px;
	margin: -5px;
}

.tuan_txt {
	color: #fff;
	height: 50px;
	line-height: 50px;
}

.detail_price {
	padding-top: 10px;
	margin-left: 10px;
	background: #f6f6f6;
}

.price_del {
	font-size: 14px;
	color: #999;
}

.price_del>del {
	padding-left: 25px;
}

.tuan_price {
	padding-top: 10px;
}

.tuan_price_left {
	float: left;
	color: #FF0000;
	font-size: 14px;
}

.tuan_price_left em {
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
}

.tuan_price_right {
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}

.tuan_price_right em {
	color: #333;
	margin-right: 10px;
}

.detail_foods_info {
	margin-left: 20px;
	margin-top: 15px;
	font-size: 14px;
	color: #999;
	vertical-align: top;
}

.cus_service>span {
	display: inline-block;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background: url(../img/detail/kefu.gif) 50% no-repeat;
	vertical-align: top;
	margin-left: 20px;
}

.foots_color {
	margin-top: 20px;
}

.foots_color_ul {
	display: inline-block;
	margin-left: 20px;
}

.foots_color_ul>li {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	cursor: pointer;
	border: 2px solid transparent;
	position: relative;
}

.foots_color_ul>li>img {
	width: 45px;
	height: 45px;
	vertical-align: top;
}

.active {
	border: 2px solid #666!important;
}

.active:after {
	content: '';
	position: absolute;
	width: 11px;
	height: 11px;
	bottom: 0px;
	right: 0;
	background-image: url(../img/detail/xuanzhong_11x11.png);
}

.foots_size_ul {
	display: inline-block;
	margin-left: 20px;
}

.foods_size>li {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	text-align: center;
	height: 28px;
	cursor: pointer;
	padding: 0 10px;
	font-weight: 700;
	line-height: 28px;
	border: 1px solid #ddd;
	white-space: nowrap;
	word-wrap: normal;
}

.foots_num {
	margin-top: 20px;
}

.foots_num_form {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.foots_num_form>* {
	float: left;
}

.foots_num_form>li {
	border: 1px solid #ccc;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.foots_num_form>input {
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 24px;
	width: 45px;
	text-align: center;
	outline: none;
}

.foots_num_form>span {
	margin-left: 10px;
	font-size: 12px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
}

.buy_btn {
	padding: 5px 0 20px 60px;
	margin-top: 20px;
}

.buy_btn a.buy_btn1 {
	width: 200px;
	background: #ef2f23;
	height: 50px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 50px;
}

.buy_btn a.buy_btn2 {
	width: 200px;
	height: 50px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin-left: 5px;
}

.supervision {
	margin-top: 20px;
}

.fav>.text-icon.icon-star:after {
	color: #ccc;
	font-size: 14px;
}

.fav {
	float: left;
	padding: 0 13px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ddd;
	border-radius: 24px;
	color: #999;
	font-size: 12px;
	cursor: pointer;
	margin-right: 10px;
}

.fav>span {
	background-image: url(../img/detail/detailsprit.png);
	background-position: -9px -56px;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
}

.report {
	font-size: 12px;
	color: #999;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
}

.report:hover {
	text-decoration: underline;
}

.commitment {
	font-size: 12px;
	color: #999;
	margin-left: 20px;
}

.features_ul {
	float: left;
	width: 450px;
}

.features_ul>li {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

.features_ul>li img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.features>span {
	float: left;
	margin-right: 3px;
}

.features {
	margin-top: 15px;
}

.features:first-child {
	margin-top: 0px;
}

.paysize>span {
	float: left;
}

.paysize_img {
	float: left;
	background-image: url(../img/detail/detailsprit.png);
	background-position: -10px -295px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	width: 131px;
	height: 20px;
}

.detail_hot_add {
	float: right;
	width: 120px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	height: 718px;
}

.detail_hot_add>h2 {
	font-size: 16px;
	color: #999;
	text-align: center;
	background-color: #fff;
	font-weight: normal;
}

.hot_add_list {
	height: 650px;
	overflow: hidden;
	width: 120px;
}

.hot_add_list li {
	margin-top: 10px;
}

.hot_add_list li p {
	font-size: 14px;
	width: 120px;
	text-align: center;
}

.hot_add_list li,
.hot_add_list li a {
	display: block;
	width: 120px;
	height: 207px;
}

.hot_add_list li img {
	width: 120px;
	height: 180px;
}

.add_img {
	margin-top: 10px;
	width: 100%;
	height: 110px;
	background-image: url(../img/zrtbig.jpg);
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
}


/*页脚开始*/

footer {
	max-width: 1200px;
	margin: 0 auto;
	z-index: 1;
	font-size: 12px;
	margin: 70px auto;
}

.footer_box {
	max-width: 1200px;
	height: auto;
	border-bottom: 2px solid #FF5777;
	color: #666;
}

.footer_box> li {
	float: left;
	height: 100px;
}

.footer_info h4 {
	font-size: 14px;
	margin-left: 25px;
	margin-bottom: 10px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}

.adver> a {
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	color: #999;
}

.footer_info .downapp> a {
	width: 62px;
	position: relative;
}

.footer_info .downapp> a:hover img {
	display: block;
}

.footer_info .downapp> a img {
	position: absolute;
	display: none;
	height: 70px;
	width: 70px;
	top: 27px;
	left: -17px;
	overflow: hidden;
}

.newpoeple> a:hover {
	color: #ff0077;
}

.textAdversting {
	margin: 5px 0;
	width: 100%;
}

.textAdversting a {
	display: inline-block;
	color: #666;
	border-right: 1px solid #ccc;
	padding: 0 8px;
	margin-bottom: 10px;
}

.textAdversting a:hover {
	color: #ff0077;
}

.about {
	min-height: 20px;
	padding-top: 10px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

.about p {
	float: left;
	color: #999;
}

.about_ul> li {
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}

.about_ul> li a {
	color: #666;
}

.about_ul> li:hover a {
	color: #ff0077;
}

.prove {
	margin-bottom: 8px;
	line-height: 27px;
	color: #999;
}

.prove b {
	margin: 0 5px;
	font-weight: 100;
	font-size: 12px;
}


/*登录页*/

.login_logo {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}

.l_logo {
	width: 220px;
}

.reg_content {
	background-image: url(../img/detail/registered.png)!important;
}

.login_content {
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: 600px;
	background-image: url(../img/detail/login.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.form_input {
	width: 400px;
	height: 348px;
	box-sizing: border-box;
	background: #FFFFFF;
	opacity: .9;
}

.form_size .ordinary_on {
	color: #FF0077;
	border-bottom: 2px solid #FF0077;
}

.form_content {
	width: 100%;
	padding-left: 44px;
}

.ordinary {
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	margin: 0 40px;
	height: 54px;
	width: 120px;
	line-height: 54px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #666;
}

.form_size {
	border-bottom: 1px solid #ccc;
}

.form_content input {
	height: 40px;
	width: 300px;
	background: none;
	border: 1px solid #ccc;
	padding: 0 6px;
	outline: none;
}

.ip_text {
	margin: 20px 0;
}

.ip_password {
	margin-bottom: 25px;
}

.ip_btn {
	text-align: center;
	display: block;
	border: none;
	width: 314px;
	height: 40px;
	background: #ff5777;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
	line-height: 40px;
	font-size: 12px;
}

.out_login {
	margin-top: 25px;
	font-size: 12px;
}

.out_login img {
	vertical-align: bottom;
}

.out_login>a {
	margin-right: 50px;
	color: #666;
}

.forget {
	width: 100%;
	text-align: right;
	margin-top: 25px;
	font-size: 12px;
	text-decoration: underline;
	color: #999;
}

.forget2 {
	cursor: pointer;
	color: #FF0077!important;
	margin-right: 40px;
}

.forget1 {
	cursor: pointer;
	margin-right: 25px;
}

.login_content2 {
	display: none;
}

.ip_moblie .ip_text_moblie input {
	height: 38px;
	width: 180px;
	float: left;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-color: #CFCFCF;
}

.ip_key {
	font-size: 12px;
}

.ip_moblie .ip_text_moblie select {
	font-size: 14px;
	float: left;
	width: 110px;
	height: 42px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-right: 10px;
	padding-left: 20px;
	outline: none;
}

.ip_moblie {
	display: none;
	margin-top: 20px;
	font-size: 12px;
}

.ip_moblie .ip_password_moblie span {
	display: block;
	width: 110px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	margin-right: 10px;
	color: #fff;
	background-color: #ff5777;
	float: left;
	cursor: pointer;
}

.reg_moblie {
	display: block!important;
}

.ip_moblie .ip_password_moblie input {
	height: 38px;
	width: 180px;
	float: left;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-color: #CFCFCF;
}

.ip_moblie .ip_password_moblie {
	margin: 20px 0;
}

.out_login input[type=checkbox] {
	width: 15px;
	height: 15px;
	vertical-align: top;
}

.tips {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 5px 3px;
	margin-top: 10px;
	width: 300px;
	background: lightsalmon;
	text-align: center;
}

@media only screen and (min-width: 960px) {
	.header_left {
		vertical-align: text-top;
		line-height: 31px;
		height: 31px;
		float: left;
		vertical-align: -3px;
		font-size: 12px;
	}
	.header_left a:before {
		content: '\e021';
		vertical-align: text-bottom;
		padding: 0 7px 0 23px;
	}
	.header_left a {
		color: #666;
	}
	.header_right {
		font-size: 12px;
		line-height: 31px;
		height: 31px;
		float: right;
	}
	.store_brandname_left {
		float: left;
	}
	.store_brandname_right {
		float: right;
	}
	.store_brandname_left>a>img {
		width: 40px;
		height: 40px;
		padding-top: 10px;
	}
	.store_brandname_left>a {
		float: left;
		width: 40px;
		height: 70px;
	}
	.evaluation {
		float: left;
		height: 70px;
		margin-left: 10px;
	}
	.brand_btn {
		padding-top: 24px;
	}
	.brand_collcection {
		float: left;
		height: 20px;
	}
	.brand_collcection2 {
		float: left;
		height: 20px;
		width: 55px;
	}
	.detail_content {
		min-width: 1120px;
	}
	.detail_content_left {
		float: left;
	}
	.detail_content_right {
		float: left;
	}
	.detail_content_right {
		width: 537px;
	}
	.footer_box> li {
		width: 25%;
	}
	.footer_info {
		width: 78%;
		padding-left: 20px;
	}
	.l_logo {
		margin-left: 20px;
	}
	.form_input {
		position: absolute;
		top: 80px;
		right: 150px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
	.header_left {
		display: none;
	}
	.header {
		position: relative;
	}
	.header_right {
		width: 480px;
		margin: 0 auto;
		font-size: 12px;
		line-height: 31px;
		height: 31px;
	}
	.store_brandname_left {
		margin: 0 auto;
		width: 550px;
	}
	.store_brandname_right {
		margin: 0 auto;
		width: 550px;
	}
	.store_brandname_left>a {
		width: 100px;
		height: 70px;
		float: left;
	}
	.store_brandname_left>a>img {
		width: 100px;
		height: 70px;
	}
	.evaluation {
		float: left;
		height: 70px;
		margin-left: 40px;
	}
	.brand_btn {
		padding-left: 50px;
	}
	.brand_collcection {
		height: 20px;
		margin-bottom: 10px;
	}
	.brand_collcection2 {
		height: 30px;
		width: 58px;
	}
	.add_img {
		height: 100px;
		background-size: cover;
	}
	.detail_content_left {
		height: 718px;
		width: 250px;
	}
	.detail_bigimg {
		width: 250px;
		height: 370px;
	}
	.detail_bigimg>img {
		width: 250px;
	}
	.detail_smallimg {
		width: 250px;
		margin-top: 10px;
		height: 59px;
		padding: 0 15px;
	}
	.detail_smallimg_ul img {
		height: 40px;
		width: 40px;
	}
	.detail_smallimg_ul>li {
		height: 40px;
		width: 40px;
		margin-right: 5px;
		float: left;
		cursor: pointer;
	}
	.detail_smallimg_ul>li:last-child {
		margin-right: 0;
	}
	.detail_content {
		min-width: 720px;
	}
	.detail_content_left {
		float: left;
	}
	.detail_content_right {
		float: left;
	}
	.detail_hot_add {
		display: none;
	}
	.need_margin {
		margin-left: -240px;
		padding-top: 20px;
	}
	.detail_content_right {
		width: 450px;
	}
	.footer_box> li {
		width: 50%;
	}
	.footer_info h4 {
		text-align: center;
	}
	.adver {
		margin-left: 50px;
	}
	.adver>a {
		text-align: center;
	}
	.l_logo {
		margin: auto;
	}
	.form_input {
		margin: 120px auto;
	}
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
	.header_left {
		display: none;
	}
	.header_right {
		display: none;
	}
	.min_win_header {
		display: block;
	}
	.search {
		display: none;
	}
	.search_btn {
		display: none;
	}
	.add_img {
		margin-top: 0;
	}
	.store_brandname {
		display: none;
	}
	.add_img {
		background-position: 40%;
		background-size: cover;
		height: 90px;
	}
	.detail_hot_add {
		display: none;
	}
	.detail_content {
		padding-top: 0;
		width: 100%;
	}
	.detail_content_left {
		width: 100%;
	}
	.detail_content_right {
		margin-left: 0;
	}
	.detail_bigimg {
		width: 100%;
		height: auto;
	}
	.detail_bigimg>img {
		width: 100%;
		height: auto;
	}
	.detail_smallimg {
		display: none;
	}
	.features_ul {
		width: 100%;
	}
	.buy_btn {
		width: 100%;
		padding: 5px 0 20px 0px;
	}
	.detail_content_right>h1 {
		font-size: 16px;
		text-align: center;
	}
	.evalu {
		display: none;
	}
	.sales_num {
		display: none;
	}
	.detail_price {
		margin-left: 0;
		padding-left: 20px;
	}
	.tuan_logo {
		text-align: center;
	}
	.buy_btn {
		width: 200px;
		margin: 0 auto;
	}
	.buy_btn1 {
		margin: 10px 0 20px 5px;
	}
	.features_ul {
		margin-top: 10px;
	}
	.footer_box> li {
		width: 100%;
	}
	.footer_info {
		width: 180px;
		margin: 0 auto;
	}
	.textAdversting {
		display: none;
	}
	.about_ul {
		text-align: center;
	}
	.prove {
		text-align: center;
	}
	.footer_info h4 {
		margin-left: 35px;
	}
	footer {
		margin-bottom: 0;
	}
	.detail_smallimg_text {
		display: block;
	}
	.about_ul>li {
		width: 78px;
	}
	.l_logo {
		float: right;
	}
	.login_content {
		display: none;
	}
	.login_content2 {
		display: block;
		background: lightcyan;
		padding-top: 20px;
		border: 1px solid #ccc;
		width: 90%;
		margin: 50px auto;
		border-radius: 20px;
		overflow: hidden;
	}
	.login_content2>h2 {
		text-align: center;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
	.ip2_text {
		width: 80%;
		padding: 15px 0;
		margin: 0 auto;
	}
	.ip2_text>input {
		width: 100%;
		height: 40px;
		background: none;
		border: 1px solid #ccc;
		padding: 0 6px;
		outline: none;
	}
	.ip2_password {
		width: 80%;
		padding: 15px 0;
		margin: 0 auto;
	}
	.ip2_password>input {
		width: 100%;
		height: 40px;
		background: none;
		border: 1px solid #ccc;
		padding: 0 6px;
		outline: none;
	}
	.footer_box {
		display: none;
	}
	.ip2_btn {
		text-align: center;
		display: block;
		border: none;
		width: 80%;
		height: 40px;
		background: #ff5777;
		border-radius: 10px;
		cursor: pointer;
		color: #fff;
		line-height: 40px;
		font-size: 12px;
		margin: 20px auto;
	}
	.form2_size_ul>li {
		width: 50%;
		float: left;
		box-sizing: border-box;
		text-align: center;
		height: 50px;
		line-height: 50px;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
	}
	.form2_size_ul {
		margin-bottom: 10px;
	}
	.form2_size_ul .form2_size_on {
		color: #FF0000;
		background: lightskyblue;
	}
	.form2_size_li1 {
		border-right: 1px solid #ccc;
	}
	.out_login {
		padding-left: 44px;
	}
	.out_login>a {
		display: inline-block;
		margin-bottom: 10px;
	}
	.forget {
		padding-bottom: 20px;
	}
	.lg2_moblie {
		display: none;
		width: 80%;
		margin: 20px auto;
	}
	.lg2_text_moblie>select {
		font-size: 14px;
		float: left;
		width: 20%;
		height: 38px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		margin-right: 10px;
		padding-left: 3px;
		outline: none;
		background: none;
		margin-bottom: 15px;
		min-width: 81px;
	}
	.lg2_text_moblie>input {
		box-sizing: border-box;
		height: 38px;
		width: 75%;
		float: left;
		border: 1px solid #ccc;
		padding: 0 6px;
		border-color: #CFCFCF;
		outline: none;
		background: none;
	}
	.lg2_password_moblie>input {
		box-sizing: border-box;
		height: 38px;
		width: 75%;
		float: left;
		border: 1px solid #ccc;
		padding: 0 6px;
		border-color: #CFCFCF;
		outline: none;
		background: none;
		margin-bottom: 15px;
		margin-right: 10px;
	}
	.lg2_password_moblie>span {
		min-width: 81px;
		display: block;
		width: 20%;
		height: 42px;
		line-height: 42px;
		text-align: center;
		color: #fff;
		background-color: #ff5777;
		float: left;
		cursor: pointer;
		font-size: 12px;
	}
	.lg2_password_moblie {
		margin: 20px 0;
	}
	#check {
		margin-right: 0px;
	}
}