#header{
	background: url(../images/headerbg.png);
	height: 105px;
	}
.h_content{
	margin: 0 auto;
	height: 105px;
	width: 990px;
	position: relative;
	}
.h_content a{
	margin-left: 2px ;
	}
.h_content input{
	height: 17px;
	width: 200px;
	position: absolute;
	top: 20px;
	left:190px;
	font-size: 14px;
	padding: 3px 6px 5px 6px;
	border: 1px solid #BABEBF;
	}
#skin{
	float: right;
	margin-top: 15px;
	margin-right:40px ;
	}
#skin li{
	float: left;
	height: 15px;
	width: 15px;
	background: url(../images/theme.gif);
	overflow: hidden;
	margin-right:5px;
	cursor: pointer;
	}
#skin #skin_0{
	background-position:0px 0px;
	}
#skin #skin_1{
	background-position:15px 0px;
	}
#skin #skin_2{
	background-position:35px 0px;
	}
#skin #skin_3{
	background-position:55px 0px;
	}
#skin #skin_4{
	background-position:75px 0px;
	}
#skin #skin_5{
	background-position:95px 0px;
	}
#skin #skin_0.selected{
	background-position:0px 15px;
	}
#skin #skin_1.selected{
	background-position:15px 15px;
	}
#skin #skin_2.selected{
	background-position:35px 15px;
	}
#skin #skin_3.selected{
	background-position:55px 15px;
	}
#skin #skin_4.selected{
	background-position:75px 15px;
	}
#skin #skin_5.selected{
	background-position:95px 15px;
	}

.nav ul{
	/*background: #4A4A4A;*/
	height: 37px;
	width: 990px;
	position: absolute;
	top: 68px;
	line-height: 37px;
	}
.nav ul li{
	float: left;
	margin-left: 20px;
	}
.nav li a{
	color: white;
	font-size: 14px;
	font-weight: 700;
	padding: 0 8px;
	}
.navmain{
	display:none;
	width: 474px;
	height: 142px;
	background:#FFFFFF;
	border: 1px solid #B1B1B1;
	position: absolute;
	top: 37px;
	line-height: 25px;
	}
.navmain dt a{
	float: left;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 25px;
	}
.navmain dd a{
	color: black;
	font-size: 10px;
	color: #666;
	border-right: 1px solid #CCC;
	padding: 0 5px;
	font-weight: 100;
	}
.linkmid{
	border-bottom: 1px dashed #b1b1b1;
	height: 67px;
	}
.nav ul li:hover div.navmain{
	display: block;
	z-index: 1000;
	}
.navmain dd{
	margin-top: 8px;
	}
/*导航结束*/
#content{
	width: 990px;
	margin: 0 auto;
	margin-top:10px;
	position: relative;
	}
.content_main{
    float: left;
    height: 560px;
    margin: 0 11px 0 0;
    width: 187px;
    border: 1px solid #6E6E6E;
}
.content_left h2{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
	/*background-color:#6E6E6E;*/
}
.brand{
    height: 524px;
    padding: 5px 10px 0;
    width: 165px;
}
.brand h3{
    border-bottom: 1px solid #EEEEEE;
    height: 24px;
	line-height:24px;
    width: 164px;
    clear: both;
}
.brand ul{
	width: 165px;
	height: 73px;
    padding: 0 2px 8px;
}
.brand li{
    color: #AEADAE;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 79px;
    overflow: hidden;
}
.brand li a{
	display: inline-block;
    color: #444444;
}
.brand li a:hover{
    color: #008CD7;
    text-decoration: none;
}
.brand li a.colored{
	color:#F9044E;
}
.brand li.hot a:after{
	display: inline-block;
	margin-left: 3px;
	content: '';
    background: url("../images/hot.gif") no-repeat;
    height: 16px;
    width: 21px;
    z-index: 10;
}
/*右边盒子*/
.content_right{
	float:left;
	width: 312px;
	margin-right: 11px;
	height: 560px;
	}
.bigimg{
	width: 310px;
	height: 310px;
	position: relative;
}
.bigimg img{
	border: 1px solid #CCCCCC;
	}
.textimg{
	margin: 0 auto;
	width: 100px;
	height: 30px;
	margin-top:5px;
	}
.small li img{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	margin-right: 10px;
	}
.small img:hover{
	border: 1px solid #999999;
	}
.tabs{
	position: absolute;
	top: 435px;
	width: 310px;
	}
.text3 li{
	cursor:pointer;
	float: left;
	border: 1px solid #898989;
	margin-right:5px;
	background: #F1F1F1;
	padding: 1px 5px;
	border-bottom: none;
	}
.tab_box{
	clear: both;
	border: 1px solid #898989;
	}
.text3 li:hover{
	background: #DFDFDF;
	}
.text3 li.on1{
	background: #6d84b4;
	color: #FFFFFF;
	}
.buybox{
	line-height: 25px;
	display: inline;
	width: 460px;
	float: left;
	overflow: hidden;
	}
strong.del{
	text-decoration: line-through;
	font-weight: 100;
	}
strong.ffont{
	font-size: 30px;
	font-weight: 700;
	color: #FF5500;
	vertical-align: middle;
	padding-right: 5px;
	font: 24px Tahoma,Arial,Helvetica,sans-serif;
	}
strong{
	font-weight: 100;
	}
.color_chang .color_1 li{
	float: left;
	margin-right: 10px;
	width: 40px;
	}
.color_chang img{
	display:block;
	padding: 1px;
	width: 30px;
	width: 30px;
	border: 1px solid #BBBBBB;
	background: #EEEEEE;
	cursor: pointer;
	}
.color_1 img:hover{
	border: 1px solid #FF6600;
	}
.ss{
	clear: both;
	}
.size_big li{
	display: block;
	float: left;
	border:1px solid #AAAAAA;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	}
.cur{
	background: #FF6600;
	}
i{
	font-style: normal;
}
.size_big li:hover{
	background: #ff6600;
	}
.rating li{
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	}
.rating{
	width: 80px;
	height: 16px;
	background: url(../images/star-matrix.gif) no-repeat;
	margin-bottom: 20px;
	}
.rating li a{
	float: left;
	width: 16px;
	height: 16px;
	display: inline-block;
	}
.nostar {
	background-position:0 0;
	}
.onestar {
	background-position:0 -16px;
	}
.twostar {
	background-position:0 -32px;
	}
.threestar {
	background-position:0 -48px;
	}
.fourstar {
	background-position:0 -64px;
	}
.fivestar {
	background-position:0 -80px;
	}
	

.onestar1 {
	background-position:0 -96px;
	}
.twostar1 {
	background-position:0 -112px;
	}
.threestar1 {
	background-position:0 -128px;
	}
.fourstar1 {
	background-position:0 -144px;
	}
.fivestar1 {
	background-position:0 -160px;
	}
#footer{
	padding-top: 20px;
	width: 250px;
	margin: 0 auto;
	color: #ccc;
}
.color_1 .biankuang{
	border: 1px solid #FF6600;
}
.buy_box{
	width: 400px;
	height: 200px;
	position: absolute;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 10px solid #CCCCCC;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 100;
	display: none;
}
.newtitle{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.close{
	display: inline-block;
	width: 50px;
	height: 25px;
	background: #cc4444;
	text-align: center;
	line-height: 25px;
	color: #FFFFFF;
	margin-left: 300px;
	margin-top: 10px;
	cursor: pointer;
}
.newcontnet{
	height: 80px;
}
.tubiao{
	background: url(../images/box.png) no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
	background-position: -65px 0;
}
.txt{
	word-wrap:break-word;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
}
.wrap{
	position: absolute;
	width: 155px;
	height: 155px;
	background: rgba(255,255,255,0.5);
	cursor:crosshair;
	display: none;
}
.bigwrap{
	z-index: 200;
	width: 400px;
	height: 400px;
	overflow: hidden;
	border: 2px solid #CCCCCC;
	position: absolute;
	left: 320px;
	top: 0;
	background: url(../images/pro_img/blue_one_big.jpg) no-repeat;
	display: none;
}
